.DS_Store
.idea/
.idea_modules/
.ensime
.ensime_lucene/
.ensime_session
.classpath
.project
.settings/
bin/
shall-be.more.sublime-project
shall-be.more.sublime-workspace
project/project/
project/target/
sources/
target/
node_modules
*.log